.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16/9;
}

.imageWrapper img {
  object-fit: cover;
  border-radius: 12px;
}

.content {
  width: 100%;
}

.label {
  font-size: 1rem;
  margin: 0;
}

.notes {
  margin-top: .2rem;
  font-size: 1.3rem;
}