.main {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-areas: 
    "image"
    "content"
    "map"
    "actions"
  ;
  gap: 1rem
}

.imageWrapper {
  grid-area: image;
  position: relative;
  aspect-ratio: 16/9;
  align-self: center;
  max-width: 800px;
}

.imageWrapper img {
  object-fit: cover;
  border-radius: 12px;
}

.mapContainer {
  grid-area: map;
  height: 20rem;
  margin-bottom: 1rem;
  align-self: center;
  max-width: 800px;
}

.content {
  grid-area: content;
  max-width: 800px;
}

.title {
  margin-top: 0;
  font-size: 2rem;
}

.date {
  font-size: 1.2rem;
  margin: 0;
}

.location {
  font-size: 1.2rem;
  margin: 0;
}

.stats {
  padding: 0;
  margin: 0 0 2rem;
  list-style-position: inside;
  font-size: 1.3rem;
}

.notes {
  margin: 0 0 2rem;
  font-size: 1.3rem;
  text-wrap: wrap;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
}

.modalText {
  margin-top: 0;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.divider {
  max-width: 800px;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: min(40%, 800px) auto;
    grid-template-areas: 
      "image content"
      "map content"
      ". actions"
    ;
  }

  .title {
    font-size: 3rem;
  }
}