@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700');

:root {
  --body-color-light: #2c5f77;
  --body-color-dark: #0c1b22;
  --body-background: linear-gradient(var(--body-color-light), var(--body-color-dark));
  --background-color-wave: rgba(255,255,255,0.3);

  --container-color-light: #13314a;
  --container-color-dark: #172531;
  --container-background: linear-gradient(90deg, var(--container-color-dark), var(--container-color-light));
  --container-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --container-border: 1px solid #ccc;

  --input-border-color: #ccc;
  
  --font-color: #eaf0fd;

  --link-color: #eaf0fd;
  --link-color-hover: #d7dfe8;
  --link-footer-color: #a2abbf;
  --link-footer-color-hover: #848c9f;

  --navlink-color-active: #f3b052;

  --error-color: #d72a2a;
  --success-color: #39b539;
}

* {
  box-sizing: border-box;
}

html, input, button, select, textarea, pre {
  font-family: 'Quicksand', sans-serif;
}

body {
  /* Fixed 12px padding, except 3rem on the bottom to make space for the absolute positioned footer */
  padding: 12px 12px 3rem; 
  margin: 0;
  min-height: 100vh;
  background: var(--body-background);
  color: var(--font-color);
  position: relative;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 0;
}

h3 {
  font-size: 2.0rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1.9rem;
  margin-bottom: 0;
}

h5 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

h6 {
  font-size: 1.7rem;
  margin-bottom: 0;
}

p, pre {
  font-size: 1.5rem;
}

a {
  color: var(--link-color);
}

a:hover, a:active {
  color: var(--link-color-hover);
}

form {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 90%, 600px);
  margin-top: 12px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: var(--container-box-shadow);
  background: var(--container-background);
}

.not-found {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.not-found img {
  width: clamp(200px, 50%, 400px);
  height: auto;
}

/* Leaflet overrides to remove links */
.leaflet-bottom.leaflet-right, 
.maplibregl-control-container ,
a[href="https://www.maptiler.com"] {
  display: none !important;
}