@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

:root {
  --font-color: #eaf0fd;

  --link-color: #eaf0fd;
  --link-color-hover: #d7dfe8;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
}

body {
  background: linear-gradient(#2c5f77, #0c1b22);
  color: var(--font-color);
  margin: 0;
  padding: 12px;
}
