.button {
  border-radius: 4px;
  border: none;
  padding: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.primary {
  background: #7484ac;
  color: var(--font-color);
}

.primary:hover {
  background: #6a789d;
}

.primary:active {
  background: #8fa0cb;
}

.secondary {
  background: transparent;
  color: var(--font-color);
  border: 2px solid #6a789d;
  padding: 6px; /* change the padding due to the border */
  border-radius: 6px;
}

.secondary:hover {
  border-color: #535d7a;
}

.secondary:active {
  border-color: #8fa0cb;
}

.danger {
  background: #742428;
  color: var(--font-color);
}

.danger:hover {
  background: #5b1c1f;
}

.danger:active {
  background: #8a2a2f;
}
