.link {
  text-decoration: none;
}

.link:hover, .link:active {
  color: unset;
}

.tile:hover {
  outline: 2px solid rgb(46, 32, 107);
}

.tile:hover .imageWrapper img {
  transform: scale(1.01);
}

.tile {
  outline: 2px solid transparent;
  transition: outline .2s ease-out;
  border-radius: 12px;
  box-shadow: var(--container-box-shadow);
  background: var(--container-background);
  overflow: hidden;
  position: relative;
  display: flex;
}

.imageWrapper {
  position: relative;
  width: 20%;
}

.imageWrapper img {
  object-fit: cover;
  transition: transform .2s ease-out;
}

.nudiStamp {
  position: absolute;
  right: 2px;
  top: 2px;
  transform: rotate(12deg) scale(.7);
  opacity: .8;
}

.content {
  padding: .5rem;
  width: 80%;
}

.title {
  font-size: 1.3rem;
  margin: 0 0 .1rem;
}

.description {
  font-size: 1rem;
  margin: 0 0 .5rem;
}

.location {
  font-size: .9rem;
  margin: 0 0 .5rem;
}

.date {
  font-size: .9rem;
  margin: 0 0 .5rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
}

@media (min-width: 786px) {
  .tile {
    flex-direction: column;
  }

  .imageWrapper {
    width: 100%;
    height: 12rem;
  }

  .content {
    width: 100%;
  }

  .nudiStamp {
    transform: rotate(12deg) scale(1);
  }
}